<app-scroll></app-scroll>
<section class="body-section py-20">
  <section>
    <div *ngIf="routerState.qpCategory === 'null'" class="mt-12">
      <app-search *ngIf="showSearch"></app-search>
      <section *ngIf="isFound" class="list-container">
        <app-food-card
          [role]="role"
          *ngFor="let food of foods"
          [food]="food"
        ></app-food-card>
      </section>
      <app-not-found-banner *ngIf="!isFound"></app-not-found-banner>
    </div>

    <div *ngIf="routerState.qpCategory !== 'null'" class="relative">
      <app-search [role]="role" *ngIf="showSearch"></app-search>
      <section *ngFor="let category of foodsWithCategory" class="page-braked">
        <section class="tape-container" [ngClass]="{ 'mb-16': showSearch }">
          <div class="edit-category-panel" *ngIf="isAdmin">
            <app-button
              (onClick)="createCategory(category)"
              class="mx-0.5 mr-1"
              [size]="'small'"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon-size"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg> </app-button
            ><app-show-hide-button
              class="m-1 mr-2 text-white"
              [category]="category"
            ></app-show-hide-button>
            <h5
              class="category-title"
              [ngClass]="{ 'line-through': category.hidden }"
            >
              {{ category.title }}
            </h5>

            <app-button
              class="mx-0.5"
              type="button"
              [size]="'small'"
              [color]="'green'"
              (onClick)="editCategory(category)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon-size"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                />
              </svg>
            </app-button>
            <app-button
              class="mx-0.5"
              type="button"
              [size]="'small'"
              [color]="'red'"
              (onClick)="deleteCategory(category.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon-size"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </app-button>
          </div>
          <span *ngIf="!isAdmin" class="category-title mb-4">{{
            category.title
          }}</span>
        </section>
        <div *ngIf="category!.title === ''">
          <app-loading-banner></app-loading-banner>
        </div>
        <section class="list-container">
          <app-food-card
            [role]="role"
            *ngFor="let food of category.food"
            [food]="food"
          ></app-food-card>
        </section>
        
        <div *ngIf="category.food!.length === 0">
          <app-not-found-banner
            *ngIf="category.childrenCategory!.length === 0 || !isFound"
          ></app-not-found-banner>
        </div>

        <div *ngIf="isFound || category!.title !== ''">
          <section *ngFor="let children of category.childrenCategory">
            <div *ngIf="!children.hidden || isAdmin">
              <h4 class="subcategory-title">
                <div class="edit-subcategory-panel" *ngIf="isAdmin">
                  <app-button
                    class="mx-0.5"
                    [size]="'small'"
                    (onClick)="createFood(children)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon-size"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 4v16m8-8H4"
                      />
                    </svg> </app-button
                  ><app-show-hide-button
                    class="m-0.5 text-white"
                    [category]="children"
                  ></app-show-hide-button>
                  <h5
                    class="text-white mx-2 sub-title"
                    [ngClass]="{ 'line-through': children.hidden }"
                  >
                    {{ children.title }}
                  </h5>
                  <app-button
                    class="mx-0.5"
                    type="button"
                    [size]="'small'"
                    [color]="'green'"
                    (onClick)="editCategory(children)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon-size"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                      />
                    </svg>
                  </app-button>
                  <app-button
                    class="mx-0.5"
                    type="button"
                    [size]="'small'"
                    [color]="'red'"
                    (onClick)="deleteCategory(children.id)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon-size"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      />
                    </svg>
                  </app-button>
                </div>
                <span *ngIf="!isAdmin">{{ children.title }}</span>
              </h4>
              <section class="list-container">
                <app-food-card
                  [role]="role"
                  *ngFor="let food of children.food"
                  [food]="food"
                ></app-food-card>
              </section>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>
</section>
